[Desktop Entry]
Version=1.0
Name=Acestream Launcher
GenericName=Media player
Comment=Open Acestream links with MPV Media Player
Exec=/usr/bin/acestream-launcher %u
TryExec=/usr/bin/acestream-launcher
Icon=multimedia-video-player
Terminal=false
Type=Application
MimeType=x-scheme-handler/acestream;
X-KDE-Protocols=acestream
NoDisplay=true
