[Desktop Entry]
Version=1.0
Name=AceStream Launcher
GenericName=Media player
Comment=Open AceStream links with any Media Player
Exec=acestream-launcher %u
TryExec=acestream-launcher
Icon=multimedia-video-player
Terminal=false
Type=Application
MimeType=x-scheme-handler/acestream;
X-KDE-Protocols=acestream
NoDisplay=true
